div.slider{
    width: 100%;
    height: 500px;
    background-color: lightgrey;
    position: relative;
    top: 80px;
}
.swiper {
    width: 100%;
    height: 100%;
    
  }
  .swiper-slide{
    position: relative;
    >div.content{
        position: absolute;
        padding: 20px;
        right: 100px;
        top: 50px;
        width: 30%;
        >h6{
            text-align: center;
            margin: 0px auto;
            margin-bottom: 5px;
        }
        >h4{
            text-align: center;
            margin: 0px auto;
            line-height: 25px;
            margin-bottom: 5px;
        }
        >a{
            display: block;
            margin: 0 auto;
            padding: 5px;
            width: fit-content;
            height: fit-content;
            background-color: lightgray;
            color: whitesmoke;
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            line-height: 40px;
            border-radius: 20px;
        }
    }
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: black;
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: black;
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }