 div.standard{
    display: flex;
    flex-direction: column;
    >div:nth-of-type(1){
        display: flex;
        flex-direction: column;
        justify-content: center;
        >p:nth-of-type(1){
            font-weight: bolder;
            font-family: oriSans;
            font-size: 40px;
            text-align: center;
        }>p:nth-of-type(2){
            text-align: center;
            margin: auto;
            font-size: medium;
            width: 50%;
        }
    }>div:nth-of-type(2){
        width: 70%;
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin: auto;
        flex-wrap: wrap;
        >img{
            width: 12%;
        }
    }
 }